{% extends 'vegasbook/base.html' %}

{% load static %}

{% block title %} | Thursday {% endblock %}

{% block content %}
</br>
<span class="badge badge-pill badge-success">NFL</span>
</br>
</br>
<table class="table table-hover table-dark">
<div class="list-group">
  <a href="{% url 'about' %}" class="list-group-item list-group-item-action list-group-item-primary">Thursday Night Football</a>
  <a href="{% url 'sfootballs' %}" class="list-group-item list-group-item-action list-group-item-secondary">Sunday Night Football</a>
  <a href="{% url 'mfootballs' %}" class="list-group-item list-group-item-action list-group-item-success">Monday Night Football</a>
  <a href="{% url 'cfootballs' %}" class="list-group-item list-group-item-action list-group-item-warning">College Night Football</a>
</div>
</table>

{% endblock %}





