{% extends 'vegasbook/base.html' %}

{% load static %}

{% block title %} | Thursday {% endblock %}

{% block content %}
</br>
<table class="table table-hover table-bordered table-dark">
  <span class="badge badge-pill badge-success">Thursday Night NFL Spread</span>
  <thead>
    <tr>
      <th scope="col" class="text-info">Favorite</th>
      <th scope="col" class="text-info">Underdog</th>
      <th scope="col" class="text-info">Spread</th>
      <th scope="col" class="text-primary">Date & Time</th>
      <th scope="col" class="text-info">Total</th>
      <th scope="col" class="text-info">Wine</th>
    </tr>
  </thead>
  {% for project in projects %}
  <tbody>
    <tr>
      <th scope="row">{{ project.favorite }}</th>
      <td>{{ project.underdog }}</td>
      <td>{{ project.spread }}</td>
      <td class="text-primary">{{ project.list_data }}</td>
      <td>{{ project.list_total }}</td>
      <td>{{ project.win }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>



{% endblock %}
